<div class="col-sm-3">
  <p class="text-muted mb-0">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      fill="currentColor"
      class="bi bi-dot"
      viewBox="0 0 16 16"
    >
      <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
    </svg>
    <span><%- title %></span>
  </p>
</div>
<div class="col-sm-9">
  <p class="mb-0 bold-text">
    <span><%- value %></span>
  </p>
</div>
